#ignore everything
*

#except for these...
!.gitignore

#test input
!Test1.txt
!Test2.txt
!Test3.txt
!Test1BWT.txt
!Test2BWT.txt
!Test3BWT.txt
!Tomato.txt
!Yeast.txt

#implementation notes
!McCreight_ST_algorithm_detailed.pdf
!McCreightsAlgo_Example.pdf
!SuffixTree-McCrieightConstruction.PDF

#source
!SuffixTree.cpp
!SuffixTree.hpp
!main.cpp
!ukkonen.pdf
!Util.hpp
!Util.cpp
