#ignore everything
*

#except for these...
!.gitignore

#test input
!english.txt
!atcg.txt
!Test1.txt
!Test2.txt
!BRCA2.txt
!Tomato.txt
!Yeast.txt
!Test1_BWT.txt
!Test2_BWT.txt
!BRCA2_BWT.txt
!Tomato_BWT.txt
!Yeast_BWT.txt
!BRCA2_Test.txt
!Tomato_Test.txt
!Yeast_Test.txt
!Test1_Test.txt
!Test2_Test.txt
!README.md
!compile
!runTests
!report.pdf
!report.tex
!CptS571CoverSheet.doc

#implementation notes
!BWT_from_ST_example.pdf
!McCreight_ST_algorithm_detailed.pdf
!McCreightsAlgo_Example.pdf
!SuffixTree-McCrieightConstruction.PDF
!ukkonen.pdf

#source
!SuffixTree.cpp
!SuffixTree.hpp
!main.cpp
!Util.hpp
!Util.cpp

